    <!-- Contact Section -->
    <section id="contact" class="content-section text-left">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact</h2>
                    <p><b>Tel.</b>: <a href="tel:{{ site.tel}}">{{ site.teltext }}</a></p>
                    <p> <b>Adres</b>: <br> {{site.straat}} <br> {{site.gemeente}} </p>
                    <!-- <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p> -->
<!--                     <ul class="list-inline banner-social-buttons">
                        {% for network in site.social %}
                        <li>
                            <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                        </li>
                        {% endfor %}
                    </ul> -->
        <div id="map"></div>
                </div>
            </div>
        </div>

    </section>

