    <!-- About Section -->
    <section id="raadpleging" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Raadplegingen</h2>
                <p>Er zijn enkel nog vrije consultaties op maandagavond bij Dr. Goetghebuer. <br> Alle andere consultatiemomenten zijn op afspraak.
Afspraken kunnen telefonisch via 09/228.47.45 of online via <a href="https://www.afspraken.be">www.afspraken.be</a> gemaakt worden. <br>
Gelieve steeds uw <b>identiteitskaart</b> en een klevertje van de mutualiteit mee te nemen.</p>

                <p><b>Huisbezoeken:</b><br>
              Indien u niet in staat bent naar de praktijk te komen, kan u voor 10 uur ’s ochtends een huisbezoek aanvragen. Dit kan enkel text-leftonisch via 09/228.47.45</p>

              <p><b>Wachtdienst:</b><br>
              Tussen 19u en 8u, in het weekend en op feestdagen kan u voor dringende problemen terecht bij de huisarts van wacht op het nummer
              09/236.50.00. Voor meer info, zie <a href="https://www.huisartsenwachtposten.be"> www.huisartsenwachtposten.be</a></p>

              <div class="par"><b>Andere nuttige info:</b><br>
                <ul>
                  <li>In een levensbedreigende situatie: 112</li>
                  <li>Andere noodnummers: www.noodnummers.be</li>
                  <li>Apotheker van wacht: www.apotheek.be</li>
                  <li>Tandarts van wacht: www.tandarts.be</li>
                </ul>
              </div>
            </div>
        </div>
    </section>